{% extends "IntraModuleBundle::layout.html.twig" %}

{% block title %}
  Bareme - {{ parent() }}
{% endblock %}



{% block intramain_body %}

<h3>Bareme - {{ bareme.name }}</h3>	
<form role="form" method="post">
	{% for critere in bareme.criteres %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h5 class="panel-title"> sujet : {{ critere.titre }}</h5>
		</div>
		<div class="panel-body">
			<p> desciption : {{ critere.description }}</p>
			
				<div class="row">
					{% for point in critere.points %}		
					<div class="col-xs-2">
						<input type="radio" name="radio" value="{{ point.number }}" {% if loop.first %} checked {% endif %}> {{ point.number }}<br>
					</div>
					{% endfor %}
				</div>
		</div>
		<div class="panel-footer">
				<div class="form-group">
			  	<label for="contenu">Message</label>
			  	<textarea class="form-control" rows="6" id="contenu" name="_content"></textarea>
			  </div>
			
		</div>
	</div>
	{% endfor %}
</form>
	



	    {#

	    <div class="panel panel-default">
			{% endif %}
			  <div class="panel-heading">
			    <h3 class="panel-title">{{ ticket.getTitre() }}</h3>
			  </div>
			  <div class="panel-body">
			    {{ ticket.getContenu()|nl2br }}
			    <br/>
			    <small>{{ ticket.getDatetime()|date('Y-m-d h:m') }}</small>
			  </div>
			  <div class="panel-footer">
			  	{{ ticket.getPriorite() }} - {{ ticket.getEtat() }}
			  	{% if ticket.getAdmin() is not null %} 
			  		- Attribué: {{ ticket.getAdmin() }}
			  	{%  endif %}
			  </div>
			</div>
    <form role="form" action={{ path('intra_ticket_reply') }} method="POST" >
			  <div class="form-group">
			  	<label for="contenu">Message</label>
			  	<textarea class="form-control" rows="6" id="contenu" name="_content"></textarea>
			  </div>
			  <input type="hidden" name="_id" value="{{ ticket.getId() }}">
			  <button type="submit" class="btn btn-default">Repondre</button>
			</form>
#}

{% endblock %}
